@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@500;600&family=IBM+Plex+Sans+Thai+Looped:wght@400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, .font-mitr {
  font-family: 'Mitr', sans-serif;
}

ul.list-dashed {
  list-style-type: none;
}
ul.list-dashed > li:before {
  content: "- ";
}
