.hero img.characters {
  min-width: 512px;
}

.learning-vdo .yt-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.learning-vdo .yt-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.references>li>a {
	color: rgb(99 102 241);
}